.video-container {
    overflow: hidden;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    display: block;
    position: absolute;
    z-index: 1;
    margin: 0 27em 13em 0;
    bottom: 0;
    left: 40%;
    width: 853px;
    height: 480px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}